


body {
  font-family: 'Times New Roman', Times, serif;
  background-color: aqua;
}

#graph {
    text-align: center;
}



#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: brown;
  border: black;
  box-shadow: black;
  margin: 0 auto;
  padding: 10px;
}

.sqrs {
  border: 2px dotted black;
  text-align: center;
  outline: black;
  height: 100px;
  border-width: 5px;
}
@media screen and (min-width: 622px) {
  .center {
      width: 622px;
  }
}